@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
   #page_body > h1 {
    @apply text-2xl;
  }
}

/* [x-cloak] { display: none !important; } */
[x-cloak] {
    height: auto;
    width: auto;
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
